<div class="container-signin"> 
    <img class="logo" src="../../assets/logos/glitch_logo_official.svg" alt="logo" />
    <form>
        <input type="text" placeholder="Tapez votre adresse-email" />
        <input type="password" placeholder="Tapez votre mot de passe" />
        <input class="btn_signin"  type="button" value="Connexion"/>
        <div class="bar"></div>
        <input class="btn_signup" (click)="router.navigate(['/signup']);" type="button" value="Inscription"/>
    </form>
</div>