<div class="container-signin"> 
    <img class="logo" src="../../assets/logos/glitch_logo_official.svg" alt="logo" />
    <div *ngIf="message" class="box-message-error">
        <p>{{message}}</p>
    </div>
    <form>
        <input [(ngModel)]="email" name="email" type="text" placeholder="Tapez votre adresse-email" />
        <input type="password" [(ngModel)]="password" name="password" placeholder="Tapez votre mot de passe" />
        <input class="btn_signin"  type="submit" (click)="login()" value="Connexion"/>
        <div class="bar"></div>
        <input class="btn_signup" (click)="router.navigate(['/signup']);" type="button" value="Inscription"/>
    </form>
</div>