<nav>
    <img (click)="returnToBackPage()" src="../../assets/icons/arrow_return.svg" alt="arrow_return_icon" />
</nav>
<form>
    <div class="box_user_account">
        <img class="avatar" src="{{userConnected.avatar}}" alt="avatar" />
    </div>
    <div class="box_compose_post">
        <textarea name="post" [(ngModel)]="post" placeholder="Quoi de neuf?"></textarea>
        <button class="btn_send_post"type="submit" (click)="addPost()">    
            <span>Poster</span>
            <img src="../../assets/icons/icon_compose_post.svg" alt="img_compose_post" />
        </button>
    </div>
</form>