.container_feed {
	background-color: #0e0e10;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin-top: 4em;
	.box_post {
		// height: 100%;
		background-color: #1f1f23;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 1em;
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		.box_post_infos {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: white;
			font-weight: 300;
			.avatar {
				height: 30px;
				width: 30px;
				object-fit: cover;
				border-radius: 3rem;
			}
			span {
				font-size: 0.8em;
			}
		}

		.post_content {
			padding-top: 1em;
			p {
				color: #ffffff;
				font-weight: bold;
				line-height: 1.3em;
				font-size: 0.7em;
			}
		}
	}
}
