<nav *ngIf="!displayBtn">
    <img (click)="returnToBackPage()" src="../../assets/icons/arrow_return.svg" alt="arrow_return_icon" />
</nav>

<div class="container_profile">
    <div class="cover_profile">
        <img *ngIf="user" src="{{user.avatar}}" alt="avatar" />
    </div>
    <div class="infos_profile">
        <h2 *ngIf="user">@{{user.username}}</h2>
        <div *ngIf="user" class="box_infos_follows">
            <h3 *ngIf="posts">{{posts.length}} posts</h3>
            <h3>{{user.followers}} Followers</h3>
            <h3>{{user.followings}} Followings</h3>
        </div>
    </div>
    <div class="bar"></div>
    <button *ngIf="displayBtn" class="btn_update_profile" type="submit">Modifier le profil</button>
    <button *ngIf="!displayBtn" class="btn_follow_profile" type="submit">{{followValue}}</button>
    <div *ngIf="posts" class="container_posts">
        <div (click)="goToPost(post.id)" class="box_post" *ngFor="let post of posts">
            <div class="box_post_infos">
                <div class="post_infos_user">
                    <img *ngIf="user" class="avatar" src="{{user.avatar}}" alt="avatar"/>
                    <h3 *ngIf="user">@{{user.username}}</h3>
                </div>
                <span>{{post.createdAt | date : short}}</span>
            </div>
            <div class="post_content">
                <p>{{post.content}}</p>
            </div>
        </div>    
    </div>
</div>
<app-tab-bar *ngIf="displayBtn"></app-tab-bar>
