<nav *ngIf="!displayBtn">
    <app-navigation-back></app-navigation-back>
</nav>
<nav *ngIf="displayBtn">
    <app-navigation></app-navigation>
</nav>


<div class="container_profile">
    <app-side-bar *ngIf="displayBtn"></app-side-bar>
    <div class="cover_profile">
        <img *ngIf="user" src="{{user.avatar}}" alt="avatar" />
    </div>
    <div class="infos_profile">
        <h2 *ngIf="user">@{{user.username}}</h2>
        <div *ngIf="user" class="box_infos_follows">
            <h3 *ngIf="posts">{{posts.length}} posts</h3>
            <h3 (click)="showFollowersUser(user.id)" >{{user.followers}} Followers</h3>
            <h3 (click)="showFollowingsUser(user.id)">{{user.followings}} Followings</h3>
        </div>
    </div>
    <div class="bar"></div>
    <input *ngIf="displayBtn" class="btn_update_profile" type="submit" value="Modifier le profil"/>
    <input *ngIf="!displayBtn" class="btn_follow_profile" type="submit" [(ngModel)]="followValue" name="followValue" [(value)]="followValue" (click)="toggleFollow()"/>
    <div *ngIf="posts" class="container_posts">
        <div (click)="goToPost(post.id)" class="box_post" *ngFor="let post of posts">
            <div class="box_post_infos">
                <div class="post_infos_user">
                    <img *ngIf="user" class="avatar" src="{{user.avatar}}" alt="avatar"/>
                    <h3 *ngIf="user">@{{user.username}}</h3>
                </div>
                <span>{{post.createdAt | dateAgo}}</span>
            </div>
            <div class="post_content">
                <p>{{post.content}}</p>
            </div>
        </div>    
    </div>
</div>
<app-tab-bar></app-tab-bar>
