nav {
  background-color: #121215;
  height: 60px;
  width: 100%;
  box-shadow: 9px 20px 30px rgba(0, 0, 0, 0.568);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 4;
  app-search-bar {
    @media only screen and (max-width: 768px) {
      display: none;
    }
    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }
  .box_header_nav {
    display: flex;
    align-items: center;
    margin-right: 4em;
    .logo {
      height: 35px;
      border-radius: 3rem;
      cursor: pointer;
    }
    h4 {
      font-size: 1.2em;
      color: white;
      margin-left: 0.8em;
      margin-top: 0.1em;
    }
  }
  button {
    height: 35px;
    width: 100px;
    color: white;
    font-weight: 900;
    background-color: #921af9;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
  }
}
